*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'inter';
}
.head-sec{
    width: 100%;
    float: left;
    height: 100vh;
    background-color: #f5f5f5;

    position: fixed;
}
.menu-sec{
    width:80%;
    float: left;
}
.logo-img{
    width: 20%;
    padding-top: 25px;
}
.menu-sec h1{
    font-size: 30px;
    font-weight: 800;
    padding-top: 35%;

}
/* sec-1-right*/

.sec-1st-r-con{
  width: 20%;
  float: left;
}
.bg-img {
    background-image: url(https://tpc.googlesyndication.com/simgad/7134154472378513570?sqp=4sqPyQQrQikqJwhfEAEdAAC0QiABKAEwCTgDQPCTCUgAUAFYAWBfcAJ4AcUBLbKdPg&rs=AOga4qn5GC6a9Zt32rxvOPKxWbA54F0Qiw);
    background-position: center;
    background-size: cover;
    height: 636px;
    width:100%;
    background-repeat: no-repeat;
}

.sec-1st-r-con nav{
    float: right;

}

